@model PagedList.Core.IPagedList<Web_market.Models.TinDang>
@using PagedList.Core.Mvc

@{ 
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>
    <p class="mb-4">
        Danh sách Tin tức : trang @CurrentPage
        </br>
        <a target="_blank"
           asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a>.
        <span></span>
    </p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <div class="d-md-flex">
                        

                        <div class="col lg-4 text-right">
                            <a class="btn btn-primary mb-3 ml-5 " asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Create">Tạo tin tức</a>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tiêu đề</th>
                            <th>Ngày tạo</th>
                            <th>isHOT</th>
                            <th>isNewFeed</th>
                            <th>Trạng thái</th>
                            <th>#</th>
                           
                    </thead>
                    
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PostId</td>
                                    <td>@item.Title</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        @if (item.Published == true)
                                        {


                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Public</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Non-Public</div>
                                            </div>
                                        }



                                    </td>
                                    <td>
                                        @if (item.IsHot == true)
                                        {


                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Hot</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>-</div>
                                            </div>
                                        }



                                    </td>

                                    <td>
                                        @if (item.IsNewfeed == true)
                                        {


                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>IsNewFeed</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>-</div>
                                            </div>
                                        }



                                    </td>

                                    <td>
                                        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Details" asp-route-id="@item.PostId">Chi tiết</a>
                                        <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Edit" asp-route-id="@item.PostId">Sửa</a>
                                        <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Delete" asp-route-id="@item.PostId">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="fa-pager-container" list="@Model" asp-area="Admin" asp-action="Index" asp-controller="AdminTinDangs"  />
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>