@model PagedList.Core.IPagedList<Web_market.Models.Customer>
@using PagedList.Core.Mvc
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        Bảng Danh sách khách hàng
          <a target="_blank"
           asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a>.
           <span></span>
    </p>
  

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" id="IDrole" name="IDrole" style="min-width: 200px" asp-items="ViewBag.QuyenTruyCap">
                                <option value="0" disabled selected>Chọn quyền truy cập </option>
                            </select>
                        </div>
                        <div class="m-b-10 ">
                            <select class="custom-select" id="IDstatus" name="IDstatus" style="min-width: 200px" asp-items="ViewBag.lsTrangThai">
                                <option value="" disabled selected>Chọn trạng thái </option>
                            </select>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fullname</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Tỉnh thành</th>
                            <th></th>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Fullname</th>                           
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Tỉnh thành</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerId</td>
                                    <td>@item.FullName</td>                               
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                    <td>@item.Location.Name</td>

                                    <td>
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">Xem</a>
                                        <a class="btn btn-secondary" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Sửa</a>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
    



                    </tbody>
                </table>

                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="fa-pager-container" list="@Model" asp-area="Admin" asp-action="Index" asp-controller="AdminCustomer" />
                    </ul>
                </div>
                <a class="btn btn-danger" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Create">Create</a>

            </div>
        </div>
    </div>

</div>